*.o
*.qpf
*.qsf
*.qws
*.qsys
*.dpi
*.cdb
*.*_info
*.hdb
*.root_*
*.done
*.rpt
*.summary
*.vhd.bak


*.mti
*.qdb
*.qdb
*.mpf
_info
*.qpg
*.qtl
_vmake
*.bak*
*.vht
msim_transcript
modelsim.ini
vsim.wlf

.exrc
.vimrc
.DS_Store

.qsys_edit/
db/
work-obj*.cf
simulation_results.vcdgz
lte_signal_generator_test
VHDL/Quartus/incremental_db/README
